@media all and (min-width: 992px){
	 
}

@media all and (max-width: 991px){
.banner-content {
	padding-top: 70px;
	width: 90%;
}

.logo{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header-menu {
	position: relative;
}

.menu {
	position: absolute;
	top: 120px;
	left: 0;
	width: 100%;
	background: #ddd;
	border-radius: 5px;
}

.menu{
	display: none;
}

.menu-icon{
	display: block;
}

.menu ul {
	flex-direction: column;
	text-align: center;
	padding: 1rem 0;
}

.menu-icon i {
	font-size: 3rem;
	color: #000;
	border: 1px solid #dedede;
	padding: .7rem .7rem;
	border-radius: 5px;
}

.skill-circle{
	flex-direction: column;
}

svg.radial-progress {
	max-width: 200px;
	
}

.progresh-item {
	margin-bottom: 3rem;
}

.single-work {
	width: 90%;
	margin: 0 auto;
	margin-bottom: 2rem;
}

.work-img {
	max-width: 100%;
	height: 250px;
}

.total-work {
	flex-direction: column;

}

.fact-content {
	margin-bottom: 2rem;
}

.member-img {
	max-width: 100%;
}

.owl-nav1 .nextBtn {
	top: 60px;
}

.owl-nav1 .prevBtn { 
	top: 60px;
}

.pricing-area {
	margin-bottom: 5rem;
}

.item-details {
	margin-bottom: 2rem;
}

}


@media all and (max-width: 767px){
.banner-content {
	width: 62%;
	margin: 0 auto;
}

.content {
	display: flex;
	flex-direction: column;
}
.shape span {
	width: 10rem;  
}

.amazing-item { 
	width: 90%;
	margin: 0 auto;
	margin-bottom: 3rem;
}

.feature-item {
	width: 90%;
	margin: 0 auto;
	margin-bottom: 3rem;
}

.contact-form {
	width: 400px;
	left: 60px;
}

.banner-content h1 {
	font-size: 3rem;
	font-weight: 700;
}

.banner-content {
	padding-top: 27px;
}

.shape h2{
	font-size: 2rem;
}

.offer-img {
	display: none;
} 

.right-margin{
	display: none;
}

.left-margin{
	display: none;
}

.offer-title h1{
	width: 100%;
	margin: 0 auto;
	text-align: center;
}

.owl-nav1 .nextBtn {
	top: 133px;
}

.owl-nav1 .prevBtn {
	top: 133px;
}

.bubble-content {
	flex-direction: column;
}

.purches-cart {
	margin-top: 1rem;
}

.purches-content{
	flex-direction: column;
}

.amazing-title p, .skill-title p {
	width: 90%;
	margin: 0 auto;
	margin-top: 1rem;
}

.footer-header {
	width: 50%;
	margin: 0 auto;
}

} 


@media all and (max-width: 575px){
.item-details {
	margin-bottom: 1rem;
}

.member-img {
	max-width: 100%;
}

.contact-form {
	width: 300px;
	left: 39px;
}

.banner-content h1 {
	font-size: 2rem;
}

.content > span {
	font-size: 2rem;
 
	}

.banner-content h3 {
	font-size: 1.5rem;
}

.scrollbutton {
	margin-top: 3rem;
}

.bubble-content p {
	font-size: 1.5rem;
}

.purches-cart {
	padding: 1rem 1rem; 
	font-size: 1.4rem;
}

.bubble-section{
	padding:3rem 0;
}

}


 
